<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attending Events</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>Events Im Attending</h1>
    <% if(events.length === 0){ %>
        <p> You are not currently attending any events. </p>
    <% } else { %>
        <% for(let oneEvent of events) { %>
            <p>Title: <%= oneEvent.title %></p>
            <p>Description: <%= oneEvent.description %></p>
            <p>Date: <%= oneEvent.date.toLocaleDateString('en-GB')
                + ", " + oneEvent.date.toLocaleTimeString() %></p>
            <form method="get" action="/events/<%= oneEvent._id %>">
                <button>Event Details</button>
            </form>
        <% } %>
    <% } %>
</body>
</html>