<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details </title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <h1>Event Details</h1>

    <p>Title: <%= events.title %></p>
    <p>Description: <%= events.description %></p>
    <p>Location: <%= events.location %></p>
    <p>Categories: <%= events.categories %></p>
    <p>Date: <%= events.date.toLocaleDateString('en-GB')
        + ", " + events.date.toLocaleTimeString() %></p>
    <P>Capactiy: <%= events.capacity %></P>
    <p>Event Planner: <%= events.eventPlanner.username %></p>

    <% if(events.eventPlanner._id.equals(user._id)) {%>
        <p>Attendee List: </p>
            <ol>
                <% for(let oneAttendee of events.attendeesList) { %>
                    <li><%= oneAttendee.username %></li>
                <% } %>
            </ol>
        <p>WaitList</p> 
            <ol>
                <% for(let oneAttendeeWaitlisted of requests) { %>
                        <li><%= oneAttendeeWaitlisted.participant.username %></li>
                        <form method="get" action="/events/attendance-requests">
                            <button>Accept Request</button>
                        </form>
                <% } %>
            </ol>   
    <% } else { %>
        <% if(!userRequest) { %>
            <form method="get" action="/events/<%= events._id %>/attendance-requests/new">
                <button>Send Attendence Request</button>
            </form>
        <% } else if (userRequest.status ==="pending" || userRequest.status === "waitlisted"|| userRequest.status ==="accepted" ){ %>
                <p>Request Status: <%= userRequest.status %></p>
        <% } else if(userRequest.status ==="declined") { %>
                <p>Request Status: <%= userRequest.status %></p>
                <form method="get" action="/events/<%= events._id %>/attendance-requests/new">
                    <button>Send Attendence Request Again</button>
                </form>
            <% } %> 
        <% } %>

</body>
</html>