<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>All Events</h1>

    <% for(let oneEvent of events) { %>
        <a href="/events/<%= oneEvent._id %>"><p>Title: <%= oneEvent.title %></p></a>
        <p>Description: <%= oneEvent.description %></p>
        <p>Categories: <%= oneEvent.categories %></p>
        <p>Date: <%= oneEvent.date.toLocaleDateString('en-GB')
        + ", " + oneEvent.date.toLocaleTimeString() %></p>
        <P>Capactiy: <%= oneEvent.capacity %></P>
        <p>Event Planner: <%= oneEvent.eventPlanner.username %></p>
        <hr>
    <% } %>
</body>
</html>