<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Invitations</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>All Invitations</h1>

    <h2>Received Invitations</h2>

    <% const receivedInvitations = invitations.filter(oneInvitation => {
        return (oneInvitation.event && oneInvitation.event.eventPlanner && oneInvitation.event.eventPlanner.equals(user._id))
    }) %>

    <% if (receivedInvitations.length === 0) { %>
        <p>You Have Not Received Any Invitations.</p>
    <% } else { %>
        <% for(let oneInvitation of receivedInvitations) { %>
            <% if(oneInvitation.event.eventPlanner.equals(user._id)) {%>
            <p>Invitation To Event: <%= oneInvitation.event.title %></p>
            <p>Invitation From: <%= oneInvitation.participant.username %></p>
            <p>Message: <%= oneInvitation.message %></p>
            <p>Status: <%= oneInvitation.status %></p>
            <% if(oneInvitation.status === "declined") { %>
            <form method="post" action="/invitations/<%= oneInvitation._id %>/accept?_method=PUT">
                <button>Accept</button>
            </form>
            <% } %>

            <% if(oneInvitation.status === "waitlisted" || oneInvitation.status === "pending") { %>
            <form method="post" action="/invitations/<%= oneInvitation._id %>/accept?_method=PUT">
                <button>Accept</button>
            </form>
            <form method="post" action="/invitations/<%= oneInvitation._id %>/decline?_method=PUT">
                <button>Decline</button>
            </form>
            <% } %>

            <% if(oneInvitation.status === "accepted") { %>
            <form method="post" action="/invitations/<%= oneInvitation._id %>/decline?_method=PUT">
                <button>Decline</button>
            </form>
            <% } %>
            <% } %>
            <hr>
        <% } %>
    <% } %>

    <h2>Sent Invitations</h2>

    <% const sentInvitations = invitations.filter(oneInvitation => {
        return (oneInvitation.event && oneInvitation.participant && oneInvitation.participant.equals(user._id))
    }) %>   

    <% if (sentInvitations.length === 0) { %>
        <p>You Have Not Sent Any Attendance Requests.</p>
    <% } else { %>
        <% for(let oneInvitation of sentInvitations) { %>
            <% if(oneInvitation.participant.equals(user._id)) {%>
                    <p>Invitation To Event: <%= oneInvitation.event.title %></p>
                    <p>To: <%= oneInvitation.participant.username %> </p>
                    <p>Message: <%= oneInvitation.message %></p>
                    <p>Status: <%= oneInvitation.status %></p>
                    <% if(oneInvitation.status === "pending" || oneInvitation.status === "waitlisted" ) {%>
                    <form method="post" action="/invitations/<%= oneInvitation._id %>/cancel?_method=DELETE">
                        <button>Cancel Request</button>
                    </form>
                <% } else if (oneInvitation.status === "declined") { %>
                    <form method="get" action="/events/<%= oneInvitation.event._id %>/invitations/new">
                        <button>Send Attendence Request Again</button>
                    </form>
                <% } %> 
                <hr>
            <% } %>
        <% } %>
    <% } %>

</body>
</html>